@use "../../styles/palette" as palette;

.mission-main-sec-header-content-divider {
  border-top: 8px solid palette.$light_primary_color_light;
  width: 10vw;
  margin-inline-start: 2vw;
  margin-inline-end: 2vw;
}

.mission-main-sec-header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.mission-main-sec-header-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: fit-content;
  text-align: center;
}

.mission-main-sec-header-content-txt {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
}

.mission-main-sec-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
}

.mission-main-sec-body-content {
  width: 80%;
}

.mission-main-sec-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8vh;
  padding-top: 8vh;
}

.txt-ar {
  font-family: "Cairo", sans-serif;
}

.mission-main-sec-body-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 4vh 2vw;
}

.mission-main-sec-body-item-txt {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.mission-main-sec-body-item-icon {
  width: 30px;
  margin-inline-start: 2vw;
  margin-inline-end: 2vw;
}

.mission-main-sec-body-quote {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 24px;
  text-align: center;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.mission-main-sec-body-item-txt {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

@media screen and (max-width: 1280px) {
  .mission-main-sec-header-content-txt {
    font-size: 38px;
  }
}

@media screen and (max-width: 950px) {
  .mission-main-sec-header-content-txt {
    font-size: 32px;
  }
  .mission-main-sec-header-img-item {
    width: 120px;
  }
  .mission-main-sec-body-quote {
    font-size: 21px;
  }

  .mission-main-sec-body-item-txt {
    font-size: 32px;
  }
}

@media screen and (max-width: 768px) {
  .mission-main-sec-header-content-txt {
    font-size: 24px;
  }
  .mission-main-sec-body-quote {
    font-size: 18px;
  }
  .mission-main-sec-body-item-txt {
    font-size: 24px;
  }
}
