@use "../../styles/palette" as palette;

.share-txt-page-container {
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-txt-page {
  max-width: 70%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  line-height: 34px;
  font-size: 18px;
  white-space: pre-wrap;
}
