.admin-login-page-form {
  max-width: 500px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  // background-color: red;
  gap: 10px;
}

.admin-login-page-form {
  padding: 75px 24px 0px 24px;
}

.admin-login-page-form-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.admin-login-page-logo {
  max-width: 250px;
  height: auto;
}
