$light_primary_color_light: #994359;
$light_primary_color_main: #7f1431;
$light_primary_color_dark: #661026;

$light_error_light: #ef5350;
$light_error_main: #d32f2f;
$light_error_dark: #c62828;

$light_warning_light: #ff9800;
$light_warning_main: #ed6c02;
$light_warning_dark: #e65100;

$light_info_light: #03a9f4;
$light_info_main: #0288d1;
$light_info_dark: #01579b;

$light_success_light: #4caf50;
$light_success_main: #2e7d32;
$light_success_dark: #2e7d32;

$light_primary_dashboard_main: #a3aed0;
$light_primary_dashboard_light: #e2e8f0;
$light_primary_dashboard_dark: #8791af;

$grey_100: #e0e0e0;
$grey_200: #c2c2c2;
$grey_300: #a3a3a3;
$grey_400: #858585;
$grey_500: #666666;
$grey_600: #4d4d4d;
$grey_700: #333333;
$grey_800: #1a1a1a;
$grey_900: #0a0a0a;
